Options -Indexes

# Bypass ModSecurity for admin console to prevent file upload 403s
<IfModule mod_security.c>
  SecFilterEngine Off
  SecFilterScanPOST Off
</IfModule>
<IfModule mod_security2.c>
  SecRuleEngine Off
</IfModule>

# Prevent direct access to auth.php and partials
<Files "auth.php">
  Order deny,allow
  Deny from all
</Files>
<FilesMatch "^(auth|header|footer)\.php$">
  Order deny,allow
  Deny from all
</FilesMatch>
<FilesMatch "\.php$">
  # Allow PHP files
  Order allow,deny
  Allow from all
</FilesMatch>
